@using System
@using Sandbox.UI;
@namespace SdfWorld.UI
@inherits Panel

<root>
	<div class="players"><i>person</i><div>@PlayerCount</div></div>
    <div class="coords">@MathF.Abs( Position.x * 0.1f ).ToString( "N1" )@(Position.x >= 0f ? "N" : "S") @MathF.Abs( Position.y * 0.1f ).ToString( "N1" )@(Position.y >= 0f ? "W" : "E")</div>
</root>

@code
{
    public LocalPlayer Player => Scene.GetAllComponents<LocalPlayer>().FirstOrDefault();

    public Vector2Int Position
    {
        get
        {
            var globalPos = Player.GlobalPosition;
            return new Vector2Int( (int) MathF.Round( globalPos.x / 819.2f ), (int) MathF.Round( globalPos.y / 819.2f ) );
	    }
    }

    public int PlayerCount => 1 + Scene.GetAllComponents<RemotePlayer>().Count();

    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine( Position, PlayerCount );
}
